{{yield}}
<div class="row">
    <div class="col-md-8 col-md-offset-2 well" id="answer-box">
        <div class="row">
            <div class="col-md-3">
                <img src="https://www.fanspole.com/assets/default_user-856f2487c07862f3089cfcb1528df354.png" class="img-responsive">
            </div>
            <div class="col-md-5" id="answer-col">
                <p>{{answer.answered}}</p>
                <p id="ans-author"><em>~ by {{answer.author}}</em></p>
            </div>
        </div>
    </div>
</div>