{{yield}}
{{!--this tile holds the details of questions and is loaded into the question dynamic route  --}}
<h4>Notes on the question</h4>
<p>{{question.notes}}</p>
<p><em>~{{question.author}}</em></p>

<button class="btn btn-danger btn-xs">Erase Question</button>
