<div class="page-header">
    <h1>You Ask <small>They Answer</small></h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <ol>
            {{#each model.questions as |question|}}
                {{question-tile question=question}}
            {{/each}}
        </ol>
    </div>
</div>
{{new-question saveQuestion="saveQuestion"}}